.Contacts {
  text-align: center;
}

.ContactsList {
  margin-left: auto;
  margin-right: auto;

  width: 50px;
}

.Item {
  margin-left: -140px;
  margin-bottom: 10px;
}

.Name {
  margin-right: 10px;
}
